@import "tailwindcss";
html{

    font-size: 62.5%;
}
body{
font-size: 1.8rem;
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.style{
    clip-path: polygon(16% 28%, 16% 0, 100% 0, 100% 100%, 74% 100%, 0 100%, 0 28%);
    border-radius: 2rem;
  
}